<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>   
	<add key="iMICServer" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICUser" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICPass" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICDatabase" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICServerOffline" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICUserOffline" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICPassOffline" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="iMICDatabaseOffline" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="WebServer" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="WebUser" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="WebPass" value="bVrhDbfobrnpMAU4ERO0LA==" />
    <add key="WebDatabase" value="bVrhDbfobrnpMAU4ERO0LA==" />    
  </appSettings>
</configuration>