<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="IMICHN" value="5ed+ZQR1k0P/Cd+yOMw4FQ==" />
    <add key="IMICHCM" value="QMQTVEnuCz18U2b9DXzn/w==" />
    <add key="IMICUserName" value="Z+WGFs+BONU=" />
    <add key="IMICPassWord" value="HH3C6HSla8eoCaS2ACOXpQ==" />
    <add key="IMICDatabaseName" value="+WuexcnsD8dwfw1ms03iqQ==" />
    <!--<add key="IMICDatabaseName" value="QMqjEb4rrmvj1etOoF0zD3STXHAgE29ET1zDdH6ziXY=" />-->
    <add key="WebIMIC_Server" value="bVrhDbfobrl6jFI9Q/p+DQ==" />
    <add key="WebIMIC_UserName" value="GjtA6IkJx8YExeJ/o5b2ywlNZ04h6QfY" />
    <add key="WebIMIC_PassWord" value="tvUsUUc6Rt7XVOvA7lUmny+AedzlMPp/" />
    <add key="WebIMIC_DBName" value="GjtA6IkJx8YExeJ/o5b2yxCXc05Zz4I37vQODV45mxU=" />
    <add key="VPDT" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="TrainingCenterEntities" connectionString="metadata=res://*/CMSModels.csdl|res://*/CMSModels.ssdl|res://*/CMSModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.202.104;initial catalog=eTrainingDemo;user id=hocvien;password=nothing!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>